.Rproj.user
.Rhistory
.RData
.Ruserdata
clases/clase2/
clases/clase3/
clases/clase4/
clases/clase5/
clases/clase6/
clases/clase7/
clases/clase8/
clases/clase9/
clases/clase10/
clases/clase211/


_site/clases/clase2/
_site/clases/clase3/
