.Rproj.user
.Rhistory
.RData
.Ruserdata



clases/clase8/
clases/clase9/
clases/clase10/
clases/clase11/



_site/clases/clase8/
_site/clases/clase9/
_site/clases/clase10/
_site/clases/clase11/
clases/clase5/data/ene-2021-06-mjj.sav
clases/clase5/Asun.Rmd
clases/clase5/Asun.html
_site/clases/clase5/Asun.Rmd
_site/clases/clase5/Asun.html
_site/clases/clase5/data/ene-2021-06-mjj.sav
_site/clases/clase5/data/bbdd-sindicatos-bp.dta
clases/clase6/data/bbdd-sindicatos-bp.dta
clases/clase6/data/esi-2020---personas_s.sav
clases/clase6/data/esi-2020---personas.sav
_site/clases/clase6/data/esi-2020---personas.sav
_site/clases/clase6/data/esi-2020---personas_s.sav
_site/clases/clase6/data/bbdd-sindicatos-bp.dta
