.Rproj.user
.Rhistory
.RData
.Ruserdata


clases/clase6/
clases/clase7/
clases/clase8/
clases/clase9/
clases/clase10/
clases/clase211/



_site/clases/clase6/
_site/clases/clase7/
_site/clases/clase8/
_site/clases/clase9/
_site/clases/clase10/
_site/clases/clase11/
clases/clase5/data/ene-2021-06-mjj.sav
